<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elihimas.orchestra">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.BouncingButtonExampleActivity"
            android:label="@string/bouncing" />
        <activity
            android:name=".activities.CenteredImageActivity"
            android:label="@string/translate" />
        <activity
            android:name=".activities.ConstrainsExampleActivity"
            android:label="@string/constrains_layout" />
        <activity
            android:name=".activities.CoordinatorExampleActivity"
            android:label="@string/coordinator_layout" />
        <activity
            android:name=".activities.FormExampleActivity"
            android:label="@string/form" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar.Full">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/examples_title" />
    </application>

</manifest>